<li id="listing-<%= listing.id %>">
    <%= link_to gravatar_for(listing.user, size: 50), listing.user %>
    <span class="content"><%= listing.title %></span>
    <span class="content"><%= listing.price %></span>
    <span class="user"><%= link_to listing.user.name, listing.user %></span>
    <span class="content">
        <%= image_tag listing.display_image if listing.image.attached? %>
        <span><%= link_to listing.title, listing %></span>
    </span>
    <span class="content"><%= listing.moving_date %></span>
    <span class="content"><%= listing.moving_time %></span>
    <span class="timestamp">
    Posted <%= time_ago_in_words(listing.created_at) %> ago.
    <% if current_user %>
    <%= link_to "delete", listing, method: :delete,
                    data: { confirm: "You sure?" } %>
    <% end %>
    </span>
</li>